body{
    background-image: url(../img/bg.png);
    background-size:contain;
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
}
.sign{
    margin: auto;
}
.ask{
    margin-left: 288px;
    margin-top:485px ;
    position: absolute;

}
.information{
    margin-bottom: 65px;
}
.info{
    height:400px;
    font-size: 20pt;
    text-align: center;
    line-height: 90px;

}
.photo{
    float: left;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 480px;
    height:319.75px;
    border-radius:5px ;
}
.container{
    width: 500px;
    margin: auto;
}
.progress{
    position: relative;
    width:480px;
    margin:0px auto 77px;

}

.cardAll{
    position: relative;
    width: 480px;
    min-height: 1000px;
    overflow: hidden;
    margin-left: 315px;
}
.btn.btn-next{
    background-color: #04D9AB;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 15px;
    color: #F2F2F2;
}
.btn.btn-next:hover{
    background-color: #4D8973;
    color: black;
}
.card-body{
    background-color: #FBFBFB;
    height: 670px;
}
.form-check-input{
    margin-top:5px;
}
.card{
    position: absolute !important;
    width: 480px;

    left: 0;
    top: 0;
}
.card5
{
    z-index: 0;}
.card4{
    z-index: 1;
 }
 .card3{
     z-index: 2;
 }
 .card2{
     z-index: 3;
 }
 .card1{
     z-index: 4;
 }
 .footer{
     width: 100%;
     height: 80px;
     font-size: 14pt;
     background-color: #FC546D;
     color: #FBFBFB;
     text-align: center;
     line-height: 80px;
 }
 .fingers{
     position: absolute;
     margin-left:208px;
     margin-top: 800px;
     z-index: 6; 
 }
 .thumb{
    position: absolute;
    margin-left: 680px;
    margin-top:680px; 
    z-index: 6;
    transform-origin:right bottom;
    animation-timing-function: ease-in-out;
    animation-name: thumbmove;
    animation-duration: 1s;
    animation-iteration-count: 1;

 }
 @keyframes thumbmove{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-45deg);
    }
 }